<main class="wacky-wrapper">
<!-- Compare basket -->
    <div class="compare-basket">
      <button class="action action--button action--compare"><i class="fa fa-check"></i><span class="action__text">Compare(Max 3EA)</span></button>
    </div>

    <!-- filter search --> 
    <div class="filter_search_box">
      <input type="text" id="filter-search" placeholder="상품명을 입력하세요." />
    </div>

    <div class="view">

      <!-- Product grid -->
      <section class="grid">
        <!-- Products -->
        <% @airfryers.each do |air| %>
          <div class="product" filter-value="<%= air.af_title %>">
            <div class="product__info">
              
              <div class="img_box">
                <!-- <img class="product__image" src="<%= air.af_image %>" alt="<%= air.af_title %>" /> -->
                <%= link_to image_tag(air.af_image, alt: air.af_title, title: air.af_title, :class => 'product__image'), air %>
              </div>
            
              <h3 class="product__title"><%= air.af_title %></h3>
              
              <div class="detail extra highlight">
                <label>가격대</label>
                <% if air.af_price <= 49999 %>
                  <p class="spec">5만원 이하</p>
                <% elsif air.af_price >= 50000 && air.af_price <= 99999 %>
                  <p class="spec">5 ~ 9만원대</p>
                <% elsif air.af_price >= 100000 && air.af_price <= 149999 %>
                  <p class="spec">10 ~ 15만원대</p>
                <% elsif air.af_price >= 150000 && air.af_price <= 199999 %>
                  <p class="spec">15 ~ 19만원대</p>
                <% elsif air.af_price >= 200000 && air.af_price <= 249999 %>
                  <p class="spec">20 ~ 24만원대</p>
                <% elsif air.af_price >= 250000 && air.af_price <= 299999 %>
                  <p class="spec">25 ~ 29만원대</p>
                <% elsif air.af_price >= 300000 && air.af_price <= 349999 %>
                  <p class="spec">30 ~ 34만원대</p>
                <% elsif air.af_price >= 350000 && air.af_price <= 399999 %>
                  <p class="spec">35 ~ 39만원대</p>
                <% elsif air.af_price >= 400000 && air.af_price <= 449999 %>
                  <p class="spec">40 ~ 44만원대</p>
                <% elsif air.af_price >= 450000 && air.af_price <= 499999 %>
                  <p class="spec">45 ~ 49만원대</p>
                <% elsif air.af_price >= 500000 && air.af_price <= 999999 %>
                  <p class="spec">50만원 이상</p>
                <% end %>
                
              </div>

              <div class="detail extra highlight">            
                <label>형태</label>
                <% if air.af_oventype.present? %>
                  <p class="spec">오븐형</p>  
                <% elsif air.af_baskettype.present? %>
                  <p class="spec">바스켓형</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>소재</label>
                <% if air.af_material.present? %>
                  <p class="spec"><%= air.af_material %></p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
              </div>

              <div class="detail extra highlight">
                <label>용량</label>
                <% if air.af_volume.present? %>
                  <p class="spec"><%= number_with_precision(air.af_volume, precision: 0) %>L</p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>소비전력</label>
                <% if air.af_power.present? %>
                  <p class="spec"><%= number_with_precision(air.af_power, precision: 0) %>W</p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
              </div>

              <div class="detail extra highlight">    
                <% kwh = 0 %>
                <% kwh = air.af_power / 1000 %>
                <% totla_kwh = (1 * 30 * kwh) * 97 %>        
                <label>예상 전기세</label>
                <% if air.af_power.present? %>
                  <p class="spec">약 <%= number_to_currency(totla_kwh, locale: :kr) %>원</p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
                
              </div>

              <div class="detail extra highlight">            
                <label>조작부</label>
                <% if air.af_control.present? %>
                  <p class="spec"><%= air.af_control %></p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>온도 조절</label>
                <% if air.af_temp.present? %>
                  <p class="spec"><%= air.af_temp %></p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>타이머</label>
                <% if air.af_timer.present? %>
                  <p class="spec"><%= air.af_timer %></p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>자동 요리메뉴</label>
                <% if air.af_automenu.present? %>
                  <p class="spec"><%= air.af_automenu %></p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>로티세리</label>
                <% if air.af_rotisserie.present? %>
                  <p class="spec">O</p>
                <% else %>
                  <p class="spec">X</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>스팀</label>
                <% if air.af_steam.present? %>
                  <p class="spec">O</p>
                <% else %>
                  <p class="spec">X</p>
                <% end %>
                
              </div>

              <div class="detail extra highlight">            
                <label>더블히팅</label>
                <% if air.af_doubleheating.present? %>
                  <p class="spec">O</p>
                <% else %>
                  <p class="spec">X</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>식품건조</label>
                <% if air.af_dry.present? %>
                  <p class="spec">O</p>
                <% else %>
                  <p class="spec">X</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>자동열차단</label>
                <% if air.af_cutheating.present? %>
                  <p class="spec">O</p>
                <% else %>
                  <p class="spec">X</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>무게</label>
                <% if air.af_weight.present? %>
                  <p class="spec"><%= air.af_weight %></p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
              </div>

              <div class="detail extra highlight">            
                <label>사이즈(mm)</label>
                <% if air.af_size.present? %>
                  <p class="spec"><%= air.af_size %></p>
                <% else %>
                  <p class="spec">-</p>
                <% end %>
              </div>
              
              <div class="extra detail_btn">
                <a target="_blank" class="btn" href="<%= air.af_link %>">바로 확인하기</a>
                <a class="btn" href="/airfryers/<%= air.id %>">자세히 보기</a>
              </div>
              <br><br><br>

              
            </div><!-- product__info -->
            <label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><!-- <span class="action__text action__text--invisible">Compare</span> --></label>

            <!-- <div class="compare_pct">
              
            </div> -->
            <div class="admin_pannel">
              <% if current_user && current_user.admin? %>
                <%= link_to "Edit", edit_airfryer_path(air) %> |
                <%= button_to "Destroy", air, method: :delete %>
              <% end %>
            </div>
          </div><!-- product -->

        <% end %>
        
      </section>
    </div><!-- /view -->
    <!-- product compare wrapper -->
    <section class="compare">
      <button class="action action--close"><i class="fa fa-remove"></i><span class="action__text action__text--invisible">Close comparison overlay</span></button>
    </section>

</main>
<%= render 'airfryers/js_compare' %>
<%= render 'airfryers/js_search' %>
