<% if current_user %> <!-- 로그인 중인 경우 -->
  <p>Hello <%= current_user.email %></p>
  <p>You are a [<%= current_user.role %>]</p>
  <% if current_user && current_user.admin? %>
    <%= link_to "New airfryer", new_airfryer_path %>
  <% end %>
  <%= link_to "로그아웃", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %> <!-- 로그인하지 않은 경우 -->
  <%= link_to "가입하기", new_user_registration_path %>
  <%= link_to "로그인", new_user_session_path %>
<% end %>


<h1>Airfryers</h1>

<!-- <div id="airfryers">
  <% @airfryers.each do |airfryer| %>
    <%= render airfryer %>
    <p>
      <%= link_to "Show this airfryer", airfryer %>
    </p>
  <% end %>
</div> -->

<div class="compare_box">
  <%= render 'airfryers/compare' %>
</div>
  


