<main class="wacky-wrapper">
  <div class="page-title">
    <h2>만원의 행복!!</h2>
  </div>
  
  <%= render 'daily_savings/menu' %> 

  <article class="clearfix daily_wrap">
    <% @happy_savings.each do |happy| %>
        <section class="saving_card">
          <figure class="img_card clearfix">
            <%= link_to image_tag(happy.ds_image, alt: happy.ds_title, title: happy.ds_title, :class => 'ds_img'), happy %>
          </figure>

          <div class="inner">

            <div class="ratings">
              <% if happy.ds_rating_code == 50 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><em><%= number_with_delimiter(happy.ds_reviews) %>개의 리뷰</em></span>
              <% elsif happy.ds_rating_code == 45 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><em><%= number_with_delimiter(happy.ds_reviews) %>개의 리뷰</em></span>
              <% elsif happy.ds_rating_code == 40 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><em><%= number_with_delimiter(happy.ds_reviews) %>개의 리뷰</em></span>
              <% elsif happy.ds_rating_code == 35 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><em><%= number_with_delimiter(happy.ds_reviews) %>개의 리뷰</em></span>
              <% elsif happy.ds_rating_code == 30 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><em><%= number_with_delimiter(happy.ds_reviews) %>개의 리뷰</em></span>
              <% end %>
            </div>

            <p class="saving_title text_line_two"><%= happy.ds_title %></p>
            
            <div class="pricing">
              <% total_savings = 0 %>
              <% total_savings = happy.ds_was_price - happy.ds_price %>
              <div class="mobile_pricing">
                <p class="pct"><%= number_to_percentage(happy.ds_pct, precision: 0) %></p>
                <p class="was_price"><%= number_to_currency(happy.ds_was_price, locale: :kr) %>원</p>
              </div>
              <p class="is_price"><%= number_to_currency(happy.ds_price, locale: :kr) %>원</p>
              <p class="total_savings"><strong><%= number_to_currency(total_savings, locale: :kr) %>원</strong> 아끼기</p>
            </div>

            
            <div class="admin_section">
              <% if current_user && current_user.admin? %>  
                <%= link_to "Edit", edit_daily_saving_path(happy) %>
              <% end %>
            </div>
            
            
          </div>
          
        </section>
      
    <% end %>


  </article>
</main>

