<main class="wacky-wrapper">
  <div class="page-title">
    <h2>Daily Savings</h2>
  </div>

  <div class="where-hashtag">
    <% if params[:name].present? %>
      <h2>#<%= params[:name] %></h2>
    <% end %>
  </div>

  <%= render 'daily_savings/menu' %> 

  <article class="clearfix daily_wrap">
    <% @daily_savings.each do |daily_saving| %>
        <section class="saving_card">
          <figure class="img_card clearfix">
            <%= link_to image_tag(daily_saving.ds_image, alt: daily_saving.ds_title, title: daily_saving.ds_title, :class => 'ds_img'), daily_saving %>
          </figure>

          <div class="inner">

            <p class="saving_title text_line_two"><%= daily_saving.ds_title %></p>
            <!-- <p><%= render_with_dshashtags(daily_saving.ds_hashtag) %></p> -->

            <div class="ratings">
              <% if daily_saving.ds_rating_code == 50 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><em><%= daily_saving.ds_reviews %>개의 리뷰</em></span>
              <% elsif daily_saving.ds_rating_code == 45 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><em><%= daily_saving.ds_reviews %>개의 리뷰</em></span>
              <% elsif daily_saving.ds_rating_code == 40 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><em><%= daily_saving.ds_reviews %>개의 리뷰</em></span>
              <% elsif daily_saving.ds_rating_code == 35 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><em><%= daily_saving.ds_reviews %>개의 리뷰</em></span>
              <% elsif daily_saving.ds_rating_code == 30 %>
                <span><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><em><%= daily_saving.ds_reviews %>개의 리뷰</em></span>
              <% end %>
            </div>

            <div class="pricing">
              <% total_savings = 0 %>
              <% total_savings = daily_saving.ds_was_price - daily_saving.ds_price %>
              <div class="mobile_pricing">
                <p class="pct"><%= number_to_percentage(daily_saving.ds_pct, precision: 0) %></p>
                <p class="was_price"><%= number_to_currency(daily_saving.ds_was_price, locale: :kr) %>원</p>
              </div>
              <p class="is_price"><%= number_to_currency(daily_saving.ds_price, locale: :kr) %>원</p>
              <p class="total_savings"><strong><%= number_to_currency(total_savings, locale: :kr) %>원</strong> 아끼기</p>
            </div>

            
            <div class="admin_section">
              <% if current_user && current_user.admin? %>  
                <%= link_to "Edit", edit_daily_saving_path(daily_saving) %>
              <% end %>
            </div>
            
            
          </div>
          
        </section>
      
    <% end %>

  </article>
</main>